<%- include("includes/head.ejs")  %>
<body>
    <h1>This is a Home page. 1 + 2</h1>
    <%= 1 * 2  %>
    <%= "Hello Afaq".toUpperCase() %>
    <%= ["apna college", "Faisalabad", "Lahore"][0] %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At et, optio labore consectetur ducimus alias, nam facere aut id voluptatem laborum, natus corrupti ipsam quos officiis aliquid rerum harum? Eveniet.</p>
    <button>click me</button>
    <%- include("includes/footer.ejs")  %>
</body>
</html>